body {
  font-family: 'Roboto', sans-serif;
  min-width: 400px;
  /* width: 90%; */
  /* margin: 0 auto; */
  /* background-color: #B6C6DB63; */
}

/*
========================
Name and Title
========================
*/

.headerBox {
  height: 270px;
}

.header {
  text-align: center;
  color:#393e44;
  background-color: #B6C6DB;
  padding-top: 30px;
  align-items: center;
  /* min-width: 400px; */
  height: 225px;
  transition: color 1s, background-color 1s ;
  font-weight: 100;
}

.header:hover {
  color: #B6C6DB;
  background-color:#666E7A;

}

.matthew {
  font-size: 45px;
  letter-spacing: 15px;
  text-rendering: geometricPrecision;
  font-weight: 300;
}
.matthewTitle {
  text-rendering: geometricPrecision;
  font-style: italic;
}

.link {
  padding: 10px;
  font-size: 25px;
  color: #B6C6DB;
  transition: font-weight 0.5s;
}
.link:hover {
/* text-underline-offset: */
}

/*
========================
Titles for project names
========================
*/

.projectTitles {
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  align-items: center;
  /* min-width: 400px; */
}

.project1, .project2 {
  display: inline-block;
  width: 50%;
  text-align: center;
  font-size: 25px;
}

.underline {
  height: .25rem;
  width: 30%;
  margin-left: 10%;
  background: #666E7A;
  border: none;
  transition: .3s ease-in-out;
}

.project2:hover ~ .underline {
  margin-left: 60%;
}

.project2:active ~ .underline {
  margin-left: 60%;
  background-color: #B6C6DB63;
}

.project1:active ~ .underline {
  margin-left: 10%;
  background-color: #B6C6DB63;
}


.divider {
  background: #B6C6DB63;
  ;
  height: .1rem;
  width: 80%;
  margin: 0 auto;
  border: none;
}

.videoBox {
  padding: 10px;
}

video {
  width: 100%;
}
